/* font import */
@font-face {
    font-family: 'Digital';
    src: url('./fonts/Digital7-1e1Z.ttf');
}
/* Styling */
*
{

margin: 0;
padding: 0;
box-sizing: border-box;
}

body
{
    background-color: #222;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.calculator-body
{
    display: flex;
    align-self: center;
    background-color: #fff;
    height: 550px;
    width: 450px;
    margin: auto;
    border-radius: 10px;
    padding: 15px;
    

}

.text-body
{
    background-color: rgb(104, 102, 90);
    border-style: groove;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 7px;
    overflow: hidden;
}

.text-body p{
    
    font-family: Digital;
    color: rgb(0, 0, 0);
    font-size: 76px;
    padding: 2px;
    margin-bottom: 18px;
    
}
